<html>
<head>
    <style>


html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 50px;
	font: 18px/1.5 sans-serif;
	background-color: white;
	color: black;
}

h1 {
    font-family: "Montserrat", serif;
	font-size: 36px;
}

table, th, td {
  border: 1px solid black;
  background-color: cyan;
}


    </style>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Meteo</title>
    {% endif %}
</head>
<body>

<h1>Meteostations</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Region</th>
            <th>Name</th>
            <th>Longtitude</th>
            <th>Latitude</th>
        </tr>
        </thead>
        <tbody>

        {% for m in meteost %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.region }}</td>
            <td><a href="{{url_for('meteostation',  meteo_id=m.id)}}">{{ m.name }}</a></td>

            <td>{{ m.longtitude }}</td>
            <td>{{ m.latitutde }}</td>
        </tr>

        {% endfor %}
    </table>
</div>

</body>
</html>